@charset "EUC-KR";

/* section calendar */
.calendar-body .day {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100%/ 7);
	text-align: left;
	font-weight: bold;
	color: #212121;
	font-size: 12px;
	text-align: center;
	border-radius: 5px
}

.current.today {
	background: rgb(242, 242, 242);
}

.calendar-body .calendar-day {
	display: flex;
	flex-flow: wrap;
	height: 290px;
}

.calendar-body .calendar-day .day.disable {
	color: #ddd;
}
