<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.knpr2211.repository.INoticeDAO">
	<!-- 등록 -->
	<insert id="writeProc" parameterType="NoticeDTO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT nvl(max(no), 0)+1 FROM notice
		</selectKey>
		INSERT INTO notice VALUES(#{no}, #{id}, #{category1}, #{title}, #{content}, #{hit}, #{fileName}, #{notice_yn}, #{createDate})
	</insert>
	
	<!-- 상세보기 -->
	<select id="viewProc" resultType="NoticeDTO" parameterType="int">
		SELECT * FROM notice WHERE no=#{no}
	</select>
	
	<!-- 조회수 -->
	<update id="upHit" parameterType="int" >
		UPDATE notice SET hit=hit+1 WHERE no=#{no}
	</update>
	
	<!-- 검색 -->
	<select id="noticeProc" resultType="NoticeDTO">
		SELECT B.* FROM(SELECT A.*, @ROWNUM:=@ROWNUM + 1 as rn FROM(SELECT * FROM notice
				<choose>
					<when test="sel == 'title'">WHERE id LIKE CONCAT('%',#{search},'%')</when>
					<when test="sel == 'content'">WHERE title LIKE CONCAT('%',#{search},'%')</when>
				</choose>
		)A WHERE (@ROWNUM:=0) = 0)B WHERE rn BETWEEN #{b} and #{e}
	</select> 
	
	<select id="noticeCount" resultType="int"  parameterType="HashMap">
		SELECT count(*) FROM notice 
		<choose>
			<when test="select == 'title'">WHERE id LIKE '%'||#{search}||'%'</when>
			<when test="select == 'content'">WHERE title LIKE '%'||#{search}||'%'</when>
		</choose>
	</select>
	
	<!-- 수정 -->
	<update id="modifyProc" parameterType="NoticeDTO" >
		UPDATE notice SET title=#{title}, content=#{content}, #{category1} WHERE no=#{no}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteProc" parameterType="int">
		DELETE FROM notice WHERE no=#{no}
	</delete>	
	
	<select id="getFileName" parameterType="int" resultType="String">
		SELECT filename FROM notice WHERE no=#{no}
	</select>
</mapper>